body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(192, 182, 182, 0.2);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0 15px;
    text-decoration: none;
}
.nav-links li a {
    text-decoration: none;
    font-weight: bold;
}

.nav-links li a:hover {
    color: white;            /* changes color on hover for better interactivity */
}

.hero{
    background-color: #b1bdd6;
    padding: 20px 20px;

}

.hero img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.projects {
    padding: 20px 20px;
    background-color: #bdd7df;
}

.project-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    width: 300px;
}
   
.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #222;
    color: white;
    padding: 15px 0;
    font-size: 14px;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
    }

    .project-grid {
        flex-direction: column;
        align-items: center;
        font-size: 15px;
    }
    
}